<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/products">Products</a></li>


                <% if(isAuthenticated) { %>
                <li><a href="/add-product">Add Product</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/admin-products">Admin Products</a></li>
                <!-- <li class="icon"><a href="/cart"><i class='fa fa-shopping-cart'></i></a></li> -->

                <% } %>

                <% if(!isAuthenticated){ %>
                
                    <li class="right-nav"><a href="/login">Login</a></li>
                    <li class="right-nav-signup"><a href="/signup">Signup</a></li>
                
                <% } else {%>
                <li>
                    <form action="/logout" method="post">
                        <input class="logout-btn" type="submit" value="Logout">
                    </form>
                </li>

                <% } %>

            </ul>
        </nav>
    </header>