<%- include('./partials/header') %>

<form class="form-control" action="/add-product" method="post">
    <div>
        <label for="title">Title</label>
            <input type="text" name="title">
        </label>
    </div>
    <div>
        <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl">
        </label>
    </div>
    <div>
        <label for="price">Price</label>
            <input type="number" name="price">
        </label>
    </div>
    <div>
        <label for="description">Description</label>
            <textarea name="description" rows="5"></textarea>
        </label>
    </div>
    <div class="btn">
        <button type="submit">Submit</button>
    </div>
</form>

<%- include('./partials/footer') %>