<%- include('./partials/header') %>

<main class="login-form">
    <h1>Login</h1>
    <form action="/login" method="post">
        <div><input type="email" placeholder="email" name="email" id="email"></div><br>
        <div><input type="password" placeholder="password" name="password" id="password"></div><br>
        <div class="login-form-btn"><button type="submit">Login</button></div>
    </form>
</main>

<%- include('./partials/footer') %>