<%- include('./partials/header') %>

<main style="margin-left: 40%; margin-top:10%">
    <form action="/login" method="post">
        <div><input type="email" placeholder="email" name="email" id="email"></div><br>
        <div><input type="password" placeholder="password" name="password" id="password"></div>
        <div style="margin-top:20px; margin-left: 30px ;"><button type="submit">Login</button></div>
    </form>
</main>

<%- include('./partials/footer') %>