ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D7A86E;
  text-align: center;
}


li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.form-control {
  margin: 2rem 5rem;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #D7A86E;
  font: inherit;
  border-radius: 2px;
}

.btn {
  text-align: center;
}


.form-control input:focus,
.form-control textarea:focus {
  outline-color: black;
}



button {
  padding: 6px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;

  font-size: 13px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #D7A86E;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* card */
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #D7A86E;
  float: left;
  margin: 5% 11%;
  border-radius: 15px;
}

.card img {
  width: 330px;
  height: 220px;

}

.head {
  text-align: center;
  text-decoration: underline;
}

.icon {
  display: inline-block;
  margin-left: 60%;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 35px;
  background-color: whitesmoke;
}

.details-image {
  height: 300px;
  width: 400px;
}

.logout-btn {
  margin: 10px;
}

.right-nav {
  display: inline-block;
  margin-left: 82%;

}

.right-nav-signup {
  display: inline-block;
  margin-left: 7px;
}

.login-form {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}




@media only screen and (max-width: 520px) {
  .icon {
    display: inline-block;
    margin-left: 10px;
  }

  .right-nav {
    display: inline-block;
    margin-left: 39%;
  }

  .right-nav-signup {
    display: inline-block;
    margin-left: 37%;
    padding: 0px 4px;
  }
}